<!-- Static navbar -->
<div class="navbar navbar-siloportem" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header{% if rtl %} navbar-right{% endif %}">
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="seekthenet"/></a>
        </div>
        <div class="navbar-header navbar-right">
            <ul> <!-- results.html -->
                <li><a class="navbar-brand" href="https://github.com/siloportem/searx" target="_blank"><img src="{{ url_for('static', filename='img/github.png') }}" alt="source"/></a></li>
                <li><a class="navbar-brand" href="{{ url_for('preferences') }}"><img src="{{ url_for('static', filename='img/preferences.png') }}" alt="preferences"/></a></li>
            </ul>
        </div>
    </div><!--/.container-fluid -->
</div>
